<div class="flex flex-column">
    <span class="text-lg mb-4">REGISTRO</span>
    
    <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input type="text" matInput placeholder="Correo Electrónico">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirmar Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>
    
    <button mat-button mat-flat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Iniciar Sesión Icon" fontIcon="save"></mat-icon>
        CREAR CUENTA
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">YA TENGO CUENTA</a>
    
    </div>
    
    </div>